* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif !important;
}
img {
  user-select: none;
}
/* Starting Landing */
.landing {
  background-image: linear-gradient(to bottom, #4169e1, #9cb1ef);
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}
.landing nav {
  height: 80px;
  padding: 20px;
}
.landing nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing nav .container .logo {
  width: 150px;
  cursor: pointer;
}
.landing nav .container .buttons button {
  color: #fff;
  font-weight: bold;
  padding: 5px 25px;
}
.landing nav .container .buttons button:hover {
  color: #000;
  background-color: #fff;
}
.landing nav .container .buttons .sign {
  border: 1px solid #fff;
}
.landing section {
  height: calc(100vh - 80px);
}
.landing section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.landing section .container img {
  width: 500px;
}
.landing section .container .text {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #fff;
  font-weight: normal;
  align-items: flex-end;
}
.landing section .container .text .buttons {
  display: flex;
}
.landing section .container .text .buttons .view {
  width: fit-content;
  color: blue;
  background-color: white;
  transition: 0.3s;
  z-index: 10;
}
.landing section .container .text .buttons .view:hover {
  width: fit-content;
  color: #000;
  background-color: #eee;
}
.landing .svg1,
.landing .svg2 {
  position: absolute;
  bottom: -200px;
  width: 100%;
  z-index: 1;
}
.landing .svg1 {
  z-index: 5;
}
@media (max-width: 768px) {
  .landing nav .container .buttons .sign,
  .landing nav .container .buttons .log {
    display: none;
  }
  .landing section .container .text {
    text-align: center;
    align-items: center;
  }
  .landing section .container .text .buttons {
    margin: auto;
    gap: 5px;
  }
  .landing section .container .text .buttons .log {
    display: block !important;
  }
  .landing section .container img {
    display: none;
  }
  .landing .svg1,
  .landing .svg2 {
    bottom: -100px !important;
  }
}
@media (max-width: 991px) {
  .landing section .container {
    flex-direction: column;
    justify-content: center;
  }
  .landing .svg1,
  .landing .svg2 {
    bottom: -150px;
  }
}
/* Ending Landing */
/* Starting Future */
.future {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.future .container .box i {
  font-size: 30px;
}
.future .container .gray,
.future .container .gray {
  color: gray;
}
.future .container button.gray {
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}
.future .container button.gray:hover {
  color: blue;
}
/* Ending Future */
/* Starting Learning */
.learning {
  background-color: #4169e1;
}
.learning .container,
.learning .container .text button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #fff;
}
.learning .container .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.learning .container .text button {
  border: 1px solid #fff;
  width: fit-content;
}
.learning .container .text button:hover {
  background-color: #fff;
  color: #000;
}
.learning .container img {
  width: 50%;
}
@media (max-width: 991px) {
  .learning .container img {
    display: none;
  }
  .learning .container .text {
    text-align: center;
  }
  .learning .container .text button {
    margin: auto;
    margin-bottom: 20px;
  }
}
/* Ending Learning */
